<div class="etudiants index">
	<h2><?php echo __('Etudiants'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('nom'); ?></th>
			<th><?php echo $this->Paginator->sort('prenom'); ?></th>
			<th><?php echo $this->Paginator->sort('adresse'); ?></th>
			<th><?php echo $this->Paginator->sort('tel'); ?></th>
			<th><?php echo $this->Paginator->sort('cin'); ?></th>
			<th><?php echo $this->Paginator->sort('email'); ?></th>
			<th><?php echo $this->Paginator->sort('sexe'); ?></th>
			<th><?php echo $this->Paginator->sort('valider'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('updated'); ?></th>
			<th><?php echo $this->Paginator->sort('filiere_id'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($etudiants as $etudiant): ?>
	<tr>
		<td><?php echo h($etudiant['Etudiant']['id']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['nom']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['prenom']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['adresse']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['tel']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['cin']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['email']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['sexe']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['valider']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['created']); ?>&nbsp;</td>
		<td><?php echo h($etudiant['Etudiant']['updated']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($etudiant['Filiere'][''], array('controller' => 'filieres', 'action' => 'view', $etudiant['Filiere']['id'])); ?>
		</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $etudiant['Etudiant']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $etudiant['Etudiant']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $etudiant['Etudiant']['id']), null, __('Are you sure you want to delete # %s?', $etudiant['Etudiant']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Etudiant'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Filieres'), array('controller' => 'filieres', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Filiere'), array('controller' => 'filieres', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
