<div class="filieres form">
<?php echo $this->Form->create('Filiere'); ?>
	<fieldset>
		<legend><?php echo __('Add Filiere'); ?></legend>
	<?php
<<<<<<< HEAD
		echo $this->Form->input('Libelle');
=======
		echo $this->Form->input('nom');
>>>>>>> origin/master
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Filieres'), array('action' => 'index')); ?></li>
<<<<<<< HEAD
=======
		<li><?php echo $this->Html->link(__('List Classees'), array('controller' => 'classees', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Classee'), array('controller' => 'classees', 'action' => 'add')); ?> </li>
>>>>>>> origin/master
	</ul>
</div>
