<div class="span12">
<div class="widget-head blue">

							<h3>Modifier une filiere</h3>
						</div>
<?php echo $this->Form->create('Filiere'); ?>
<table cellpadding="20px">
<tr><td colspan="2">
<?php echo $this->Form->input('id',array('label'=>''));?>
</td></tr>
<tr>
<td>nom de filiere : </td>
<td>	<?php echo $this->Form->input('libelle',array('label'=>''));?></td>
</tr>
<tr>
<td colspan="2"><input type="submit" value="Valider l'enregistrement" class="btn btn-primary"/>
<a class="btn" href="<?php echo $this->Html->url(array("controller"=>"Filieres","action"=>"index","admin"=>true));?>">Annuler</a>
</td>
</tr>
</table>	
</div>


