<div class="filieres index">
	<h2><?php echo __('Filieres'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
<<<<<<< HEAD
			<th><?php echo $this->Paginator->sort('Libelle'); ?></th>
=======
			<th><?php echo $this->Paginator->sort('nom'); ?></th>
>>>>>>> origin/master
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($filieres as $filiere): ?>
	<tr>
		<td><?php echo h($filiere['Filiere']['id']); ?>&nbsp;</td>
<<<<<<< HEAD
		<td><?php echo h($filiere['Filiere']['Libelle']); ?>&nbsp;</td>
=======
		<td><?php echo h($filiere['Filiere']['nom']); ?>&nbsp;</td>
>>>>>>> origin/master
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $filiere['Filiere']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $filiere['Filiere']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $filiere['Filiere']['id']), null, __('Are you sure you want to delete # %s?', $filiere['Filiere']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Filiere'), array('action' => 'add')); ?></li>
<<<<<<< HEAD
=======
		<li><?php echo $this->Html->link(__('List Classees'), array('controller' => 'classees', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Classee'), array('controller' => 'classees', 'action' => 'add')); ?> </li>
>>>>>>> origin/master
	</ul>
</div>
