<div class="coordones index">
	<h2><?php echo __('Coordones'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('Id'); ?></th>
			<th><?php echo $this->Paginator->sort('Tel'); ?></th>
			<th><?php echo $this->Paginator->sort('Fix'); ?></th>
			<th><?php echo $this->Paginator->sort('Fax'); ?></th>
			<th><?php echo $this->Paginator->sort('Adresse'); ?></th>
			<th><?php echo $this->Paginator->sort('Email'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($coordones as $coordone): ?>
	<tr>
		<td><?php echo h($coordone['Coordone']['Id']); ?>&nbsp;</td>
		<td><?php echo h($coordone['Coordone']['Tel']); ?>&nbsp;</td>
		<td><?php echo h($coordone['Coordone']['Fix']); ?>&nbsp;</td>
		<td><?php echo h($coordone['Coordone']['Fax']); ?>&nbsp;</td>
		<td><?php echo h($coordone['Coordone']['Adresse']); ?>&nbsp;</td>
		<td><?php echo h($coordone['Coordone']['Email']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $coordone['Coordone']['Id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $coordone['Coordone']['Id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $coordone['Coordone']['Id']), null, __('Are you sure you want to delete # %s?', $coordone['Coordone']['Id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Coordone'), array('action' => 'add')); ?></li>
	</ul>
</div>
