/* search form */
#search-form {
	display:inline-block;
	position:relative;
	background:url(../../../admin/header-search.png) no-repeat 0 0;
	width:271px;
	height:31px;
	margin:6px 0 0 0;
}
	#search-form input {
		outline:none;
		margin:0 0 0 15px;
		color:#c2c2c2;
		border:none;
		font-size:12px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		background:none;
		text-transform:uppercase;
		height:18px;
		padding:7px 0 5px;
		width:225px;
	}
	.search-form-submit {
		position:absolute;
		display:block;
		width:20px;
		height:23px;
		background:url(../../../admin/header-search-submit.gif) no-repeat 0 0;
		right:6px;
		top:4px;
	}
		.search-form-submit:hover {
			background:url(../../../admin/header-search-submit.gif) no-repeat 0 bottom;
		}
/* Contact form */
#contact-form {
	display:block; 
	position:relative;
	margin:0;
}
#contact-form label {
	display:block; 
	min-height:36px;
	position:relative;
	overflow:hidden;
}
#contact-form span {
	float:left;
	width:65px;
	margin:6px 4px 0 0;
}
#contact-form input {
	width:467px;
	font-size:12px;
	padding:6px 5px 7px 5px !important;
	background:#fff;
	outline:none;
	font-family: Arial, Helvetica, sans-serif;
	display:block;
	color:#b4b4b4;
	margin:0;
	box-shadow:none;
	border:1px solid #dcdcdc;
	float:left;
	height:15px;
}
#contact-form textarea {
	width:467px;
	font-size:12px;
	padding:6px 5px 7px 5px !important;
	background:#fff;
	outline:none;
	font-family: Arial, Helvetica, sans-serif;
	display:block;
	color:#b4b4b4;
	margin:0;
	box-shadow:none;
	border:1px solid #dcdcdc;
	float:left;
	height:190px;
	overflow:auto;
	resize:none;
}
#contact-form .btns {
	padding:15px 0 0 0;
	text-align:right;
	overflow:hidden;
}
	#contact-form .btns a {
		margin:0 0 0 25px;
	}

