<center><a class="btn btn-primary" href="<?php echo $this->Html->url(array("controller"=>"Questions","action"=>"add","admin"=>true));?>">Poser une nouvelle question</a></center>				
<br />

<div class="span12">
<div class="widget-head blue" >
						<center>	<h3>Question posé par : <?php echo $rep[0]["Question"]["nom"];?> le : <?php echo $rep[0]['Question']['created'] ?>
                           <?php if($rep[0]["Question"]["resolu"]==1)  
                                  echo "<span style='right:5px;position:absolute;'>(résolu)</span>";                      
                                                        
                                                          ?>
                            </h3></center> 
</div>
<pre style='box-shadow:5px 5px 0px 0px #8a7e7e;'>

<p></p><?php echo $rep[0]["Question"]["contenu"]."? <br>";?></p>
</pre>
<div class="widget-head blue">
<center>	<h3>Liste des réponses</h3></center>
</div>
<div class="widget-head ">

<legend>

<?php
foreach($rep[0]["Reponse"] as $r):
echo "<pre style='box-shadow:5px 5px 0px 0px #8a7e7e;'>";
echo "<strong>Réponse par : <u>".$r["nom"]."</u> le : ".$r["created"]."</strong>";
echo "<p>".$r["contenu"]."</p>";
$nbr = 0; // pour calculer les nbr de toutes les lignes
foreach($rep2 as $li):
    if ($li["likes"]["reponse_id"]==$r["id"] )
    {
        $nbr = $nbr + $li[0]["nbr"];

    }
endforeach;
        echo $nbr." Personnes aimes ça.";
$trouve = false;
$id = 0;
foreach($rep2 as $li):

        if($li["likes"]["user_id"]==$this->Session->read('id')&& $li["likes"]["reponse_id"]==$r["id"] )
        {
            $trouve = true;
            $id = $li["likes"]["reponse_id"];
        }

 endforeach; 
if ($trouve==false)
        {
            echo $this->Form->create("Like",array('action' => 'add'));
            echo $this->Form->input("user_id",array("label"=>"","type"=>"hidden","value"=>$this->Session->read('id')));
            echo $this->Form->input("reponse_id",array("label"=>"","type"=>"hidden","value"=>$r["id"]));
            echo $this->Form->end("J'aime");
            
        }else
        {
            echo "<a class=class='btn btn-success' href='".$this->Html->url(array("controller"=>"likes","action"=>"delete_like/".$id))."'>Je n'aime plus</a>";
        }


echo "</pre>";
endforeach;
?>

</legend>
<?php echo $this->Form->create("Reponse",array('action' => 'add'));
echo $this->Form->input("nom",array("label"=>"","style"=>"width:100%;"));
echo $this->Form->input("user_id",array("label"=>"","type"=>"hidden","value"=>$this->Session->read('id')));
echo $this->Form->input("contenu",array("label"=>"","style"=>"width:100%;"));
echo $this->Form->input("question_id",array("label"=>"","value"=>$rep[0]["Question"]["id"],"type"=>"hidden"));
echo $this->Form->end("Repondre");
?>
 
</div>
</div>