<table style="width:100%;border:2px solid aqua;">
<?php

foreach ($Stagiaires as $stagiaire): ?>
	<tr>
		<td><?php echo ($stagiaire['Stagiaire']['id']); ?>&nbsp;</td>
		<td><?php echo ($stagiaire['Stagiaire']['nom']); ?>&nbsp;</td>
		<td><?php echo ($stagiaire['Stagiaire']['prenom']); ?>&nbsp;</td>
	</tr>
<?php endforeach; ?>
</table>