
		
<div class="row-fluid">				
<div class="span12">
<div class="widget-head blue">
<h3>Dérnières Actualités</h3>
</div>
<?php 
foreach($news as $new):
echo "<strong>".$new["News"]["titre"]." : </strong>".$new["News"]["contenu"];
endforeach;
?>
</div>
</div>
<div class="row-fluid">				
<div class="span12">
<div class="widget-head blue">
							<h3>Dérnières Annonces</h3>
						</div>
<?php 
foreach($annonces as $annonce):
echo "<strong>".$annonce["Annonce"]["libelle"]." : </strong>".$annonce["Annonce"]["description"];
endforeach;
?>
</div>
</div>
