
            	<article>

                       <h1>Conditions d'accès</h1>	 	
					   <ul>
					   <li>- Etre âgé de moins de 23 ans au mois de décembre de l’année de candidature.</li>
					   <li>-Sinon, vous avez la possibilité de suivre notre formation et de vous présenter </li>
					   <li>-à l’examen national en tant que candidat libre.</li>
					   <li>-Etre titulaire du Baccalauréat Marocain ou Français.</li>
					   <li>-Valider votre dossier de candidature par l’équipe pédagogique chargée des BTS.</li>
					   <li>-Réussir votre orientation de motivation.</li></ul>
                        <h1>Durée d'étude</h1> 	    
						<ul>
						<li>- Electromécanique des Systèmes Automatisés: 2 ans.</li>
                        <li>-Système Réseaux: 2 ans.</li>
                        <li>-Comptabilité et gestion: 2 ans.</li>
                        <li>- Développement système d’information: 2 ans.</li></ul>

                       

          


                </article>
           