

<?php 

foreach ($infodirecteurs as $infodirecteur):



echo "<h1>".$infodirecteur["Infodirecteurs"]["nom"]."</h1><br>" ;

    echo  "<p>".$infodirecteur ["Infodirecteur"] ["prenom"]."</p><br>";
    
    echo  "<p>".$infodirecteur ["Infodirecteur"] ["signe"]."</p><br>";

 echo $this->Html->image("upload/".$annonce["Annonce"]["image"],array("class"=>"align-left","width"=>"150","height"=>"150"));
				

    echo  "<p>".$infodirecteur ["Infodirecteur"] ["	mot_de_diecteur"]."</p><br>";

endforeach ;
 
?>