<article class="grid_15 suffix_1 prefix_1 alpha">
<?php foreach($informations as $information):
echo "<h1>Présentation</h1>";
echo "<p>".$information["Information"]["presentation"]."</p>";
echo "<h1>Historique</h1>";
echo "<p>".$information["Information"]["historique"]."</p>";
echo "<h1>Reglement</h1>";
echo "<p>".$information["Information"]["reglement"]."</p>";
endforeach;
?>

</article>