
<article class="grid_15 suffix_1 prefix_1 alpha">
<?php foreach($missions as $mission):
echo "<h3>".$mission["Mission"]["titre"]."</h3>";
echo "<p>".$mission["Mission"]["description"]."</p>";
endforeach;
?>

</article>