<article>


<p>----------------------------------------------------------Nos coordonnées-----------------------------------------------------------</p>
<table border="0" cellpadding="0" cellspacing="0" class="coordonnee">

  <tbody>
<?php foreach ($coordones as $coordone): ;?>

<tr><td>---------------------------------------------------</td></tr>
<tr>
      <td valign="top" nowrap="nowrap"><strong>Adresse   :</strong></td>
      
      <td width="63%" valign="top"><?php echo  $coordone["Coordone"]["Adresse"];?></td>
      
    </tr>
<tr><td>---------------------------------------------------</td></tr>
    <tr>
      <td width="37%" valign="top" nowrap="nowrap"><strong>Téléphone   :</strong></td>
      <td width="63%" valign="top"><?php echo $coordone["Coordone"]["Tel"] ;?><br />
        </td>
    </tr>
    <tr><td>---------------------------------------------------</td></tr>
    <tr>
      <td valign="top" nowrap="nowrap" class="coordonnee"><strong>Téléphone fix  :</strong></td>
      <td width="63%" valign="top"><?php echo  $coordone["Coordone"]["Fix"];?></td>
    </tr>
    <tr><td>---------------------------------------------------</td></tr>
     <tr>
      <td valign="top" nowrap="nowrap"><strong>Fax    :</strong></td>
      <td width="63%" valign="top"><?php echo  $coordone["Coordone"]["Fax"];?></td>
      
    </tr>
    <tr><td>---------------------------------------------------</td></tr>
    
    <tr>
      <td valign="top" nowrap="nowrap"><strong>Courriel   :</strong></td>
      <td width="63%" valign="top"><?php echo  $coordone["Coordone"]["Email"];?></td>
      
    </tr>
    <tr><td>---------------------------------------------------</td></tr>
   
    
  </tbody>
</table>

<?php endforeach ;?>
<p>-----------------------------------------------------------------------------------------------------------------------------------------------</p>
</article>

