<div class="information index">
	<h2><?php echo __('Information'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('presentation'); ?></th>
			<th><?php echo $this->Paginator->sort('historique'); ?></th>
			<th><?php echo $this->Paginator->sort('reglement'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($information as $information): ?>
	<tr>
		<td><?php echo h($information['Information']['id']); ?>&nbsp;</td>
		<td><?php echo h($information['Information']['presentation']); ?>&nbsp;</td>
		<td><?php echo h($information['Information']['historique']); ?>&nbsp;</td>
		<td><?php echo h($information['Information']['reglement']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $information['Information']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $information['Information']['id'])); ?>
		
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
	
	</ul>
</div>
