<?php echo $this->Form->create("User",array("action"=>"authentifier","class"=>"form-signin"));?>

			<h3 class="form-signin-heading">S'il vous plait connecter vous</h3>
			<div class="controls input-icon">
				<i class=" icon-user-md"></i>
                <?php echo $this->Form->input("username",array("label"=>"","placeholder"=>"Votre Login","class"=>"input-block-level"));?>
			
			</div>
			<div class="controls input-icon">
				
<i class=" icon-key"></i>
 <?php echo $this->Form->input("password",array("label"=>"","placeholder"=>"Votre Password","class"=>"input-block-level"));?>


		
            <?php echo $this->Form->end("Se connecter",array("class"=>"btn btn-inverse btn-block"));?>
		
			<h4>
Avez vous oublier votre password ?</h4>
			<p>
				<a href="#">Cliquez ici </a>pour rénitialiser votre mot de passe.
			</p>

			<h5>vous avez pas encore creer un compte ?</h5>
			<button class="btn btn-success btn-block" type="submit">
Creer un compte</button>	</div>
		</form>